<h1>My Work</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mockups.each do |mockup| %>
      <tr>
        <td><%= link_to 'Show', mockup %></td>
        <td><%= link_to 'Edit', edit_mockup_path(mockup) %></td>
        <td><%= link_to 'Destroy', mockup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

  <tr><td><a href="#">Tic Tac Toe Sinatra</a></td><td><a href="#">GitHub</a></td></tr>
   <tr><td><a href="#">Wookwoddle Rails Challenge</a></td><td><a href="#">GitHub</a></td></tr>
  <tr><td><a href="#">Alien Sandwich Sinatra (LAB)</a></td><td><a href="#">GitHub</a></td></tr>
  <tr><td><a href="#">Towers of Hanoi ORB (Todo)</a></td><td><a href="#">GitHub</a></td></tr>
  <tr><td><a href="#">Recursive Recursorial</a></td><td><a href="#">GitHub</a></td></tr>
  <tr><td><a href="#">ABC Acme Systems Unlimited (Homework)</a></td><td><a href="#">GitHub</a></td></tr>
  <tr><td><a href="#">Repo Name</a></td><td><a href="#">GitHub</a></td></tr>
  <tr><td><a href="#">Repo Name</a></td><td><a href="#">GitHub</a></td></tr>
  <tr><td><a href="#">Repo Name</a></td><td><a href="#">GitHub</a></td></tr>
    <tr><td><a href="#">Repo Name</a></td><td><a href="#">GitHub</a></td></tr>
  <tr><td><a href="#">Repo Name</a></td><td><a href="#">GitHub</a></td></tr>
  <tr><td><a href="#">Repo Name</a></td><td><a href="#">GitHub</a></td></tr>
    <tr><td><a href="#">Repo Name</a></td><td><a href="#">GitHub</a></td></tr>
  <tr><td><a href="#">Repo Name</a></td><td><a href="#">GitHub</a></td></tr>
  <tr><td><a href="#">Repo Name</a></td><td><a href="#">GitHub</a></td></tr>
    <tr><td><a href="#">Repo Name</a></td><td><a href="#">GitHub</a></td></tr>
  <tr><td><a href="#">Repo Name</a></td><td><a href="#">GitHub</a></td></tr>
  <tr><td><a href="#">Repo Name</a></td><td><a href="#">GitHub</a></td></tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mockup', new_mockup_path %>
