@import "variables";
@import "compass";
@import "bootstrap";


html, body {
  height: 100%;
}
// VARIABLES
// ----------------------------
$light-gray: #b1b4b0;


// CONTAINER
// ----------------------------
.container-top-padding {
  padding-top:65px;
}

.max-height {
  height: 100%;
}

// NAVBAR
// ----------------------------
  .nav-btn-group {
    margin-left: 10px;
    margin-top: 10px;
    font-size:smaller;

    .navbar-form {
    margin-top: -1px;
    margin-left: 10px;

      & input {
        font-size: 14px;
        padding: 0px 8px;
      }
    }
  }

// USER INFO
// ----------------------------
.user-info {
  .gravatar {
    margin-right: 3px;
    @include border-radius(4px);
  }
}

// PLAN FOR DAY
// ----------------------------
.feed {
    //font-size: 9px;
     //margin-bottom: 10px;
  padding: 5px 10px;
  //border: 1px solid #eeedea;
  background-color:#fcfbf9;
  @include border-radius(6px);
   @include box-shadow(rgba(black, 0.2) 0 1px 1px 1px inset);


  h2 {
    margin-top: 0;
    margin-bottom: 0;
      font-size: 14px;
      color:$light-gray;
    }

    p {
      border-top: 1px solid #ebe3e1;
      padding-top: 4px;
      margin-top: 3px;
    margin-bottom: 2px;
    //line-height: 12px;
    text-transform: capitalize;
    font-size: 11px;
    }

}


// PLAN FOR DAY
// ----------------------------

.time-line {
  //height: 100%;
  margin-bottom: 10px;
  padding: 5px 15px;
  //border: 1px solid #eeedea;
  background-color:#fcfbf9;
  @include border-radius(6px);
   @include box-shadow(rgba(black, 0.2) 0 1px 1px 1px inset);
  padding-bottom: 100px;

   
  .progress {
    margin-bottom: 5px;
    .progress-bar {
      background-color:#c5dbfc;
      height: 10px;
    }
    .day {
      color:#7c7a8a;
    }
  }

  .plan-4-day {
    margin-bottom: 5px;

    h2 {
      display: inline;
      margin-top: 0;
      font-size: 14px;
      color:$light-gray;
    }
    
    p{
      color:$light-gray;
      display: inline;
    }

    ol {
      margin-left: 10px;
      display: inline;
      padding-left: 0;
        
      li {
        font-size: 12px;
        margin-right: 10px;
        padding-left: 0;
        display: inline;
      }
    }
  }
}


// ASSIGNMENTS VIEW
// ----------------------------
table.table {
  thead {
    th {
      color:$light-gray;
      font-weight: 300;
    }
  }
  tbody {
    td {
      vertical-align: middle;
        .progress {
          margin-bottom: 0;
        }
    }
  }
}

.assignments-list {
  h2 {
    font-size: 20px;
    margin-top: 4px;
    margin-bottom:2px;
  }
}
.table-top-padding {
  padding-top:20px;
}
.issue {
  color:#b4b1ab;
  font-size:10px;
  //font-style: italic;
  line-height:3px;
}

ul.meta-info {
  padding-left: 0;
  margin-bottom: 0;
  padding-bottom: 0;

  li {
    display: inline;
    font-size: 10px;
    color:$light-gray;
    margin-right: 3px;

    a {
       color:$light-gray;
    }
    span.badge a, span.label a  {
      color:#ffffff;
      font-weight: 300;
    }
  }
}

.editable_area {
  padding: 5px;
   border: 1px solid #e8ebeb;
   @include border-radius(5px);
   color:$light-gray;
   font-size: 10px;

  &:hover {
    cursor: pointer;
    background-color: #f2f5f5;   
  }
}

.status {
  color:$light-gray;
   font-size: 12px;
}

.align-middle {
  vertical-align: middle;
}

// ISSUES
// ----------------------------
.issues {
   color:$light-gray;
   font-size: 12px;
}



// LOGIN VIEW
// ----------------------------
.centered {
  position: fixed;
  top: 40%;
  left: 50%;
  margin-top: -40px;
  margin-left: -100px;
   text-align: center;
}
.login-button {
  max-width: 200px;
}

// IMAGES
// ----------------------------

  .gravatar {
    height: 20px;
    @include border-radius(4px);
  }

