        <div class="progress">
          <div class="progress-bar progress-bar-success" style="width: <%= test_scores[:passing] %>">
          </div>
          <div class="progress-bar progress-bar-warning" style="width: <%= test_scores[:pending] %>">
          </div>
          <div class="progress-bar progress-bar-danger" style="width: <%= test_scores[:failing] %>">
          </div>
        </div>