<h1>My Assignments</h1>
<p>your token: <%= session[:access_token] %></p>
<p><%= "Loaded at #{@time}" %></p>

<table>
  <thead>
    <tr>
      <th>Private Assignments</th>
    </tr>
  </thead>
  <tbody>
  <% @assignments.each do |assignment| %>
    <tr>
      <td><a href="https://github.com/<%= assignment.full_name %>"><%= assignment.name %></a></td>
    </tr>
  <% end %>
  </tbody>
</table>
