<div class="row table-top-padding">
  <div class="col-lg-12">
    <table class="table table-striped assignments-list">
      <thead>
        <tr>
          <th>Assignment</th>
          <th>Tests</th>
          <th>Progress</th>
          <th><!-- Issues --><span class="glyphicon glyphicon-comment"></span></th>
        </tr>
      </thead>
      <tbody>
        <% @assignments.each do |assignment| %>
        <tr>
          <td><%= link_to assignment.name, assignment.url %></td>
          <td>[Tests]</td>
          <td><div class="btn-group">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
              In Progress <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">In Progress</a></li>
              <li><a href="#">Not Started</a></li>
              <li><a href="#">Stuck :-/</a></li>
              <li><a href="#">Done</a></li>
            </ul>
          </div>
        </td>
        <td><a href="#" title="" class="issue">Some issue...</a></td>
      </tr>
      <% end %>     
      <tr>
        <td>
          <h2><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003" title="">TV Land</a></h2>
          <ul class="meta-info">
          <li><a href="#" title=""><img src="https://1.gravatar.com/avatar/a4a5d413f1bd759eedfba1098629a06d?d=https%3A%2F%2Fidenticons.github.com%2F92761aee6b19133c8240c751569cafb5.png&r=x&s=140" alt="" height="20"> Scott</a></li>
            <li><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003/blob/master/README.md" title="">README.md</a>
            </li><li><span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">ORM</a></span> <span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">ActiveRecord</a></span>
          </li>
        </ul>
      </td>
      <td>&nbsp;</td>
      <td><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003/fork" class="btn btn-default" role="button">Fork</a></td>
      <td>
        <div class="editable_area" id="github_issue_id">GitHub Issues (None posted. Click to Add)</div></td>
      </tr>
      <tr>
        <td>
          <h2><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003" title="">RSVP App</a></h2>
          <ul class="meta-info">
            <li><a href="#" title=""><img src="/assets/spencer-icon.png" alt="" height="20"> Spencer</a></li>
            <li><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003/blob/master/README.md" title="">README.md</a>
            </li><li><span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">Rails</a></span> <span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">Join Tables</a></span>
          </li>
        </ul>
      </td>
      <td>&nbsp;</td>
      <td><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003/fork" class="btn btn-default" role="button">Fork</a></td>
      <td>
        <div class="editable_area" id="github_issue_id">GitHub Issues (None posted. Click to Add)</div></td>
      </tr>
      <tr>
        <td>
          <h2><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003" title="">RSVP App</a></h2>
          <ul class="meta-info">
            <li><a href="#" title=""><img src="/assets/spencer-icon.png" alt="" height="20"> Spencer</a></li>
            <li><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003/blob/master/README.md" title="">README.md</a>
            </li><li><span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">Rails</a></span> <span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">Join Tables</a></span>
          </li>
        </ul>
      </td>
      <td>&nbsp;</td>
      <td><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003/fork" class="btn btn-default" role="button">Fork</a></td>
      <td>
        <div class="editable_area" id="github_issue_id">GitHub Issues (None posted. Click to Add)</div></td>
      </tr>
      <tr>
        <td><a href="#" title="">Pollywog (Big Swamp Edition)</a>
          <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-info-sign"></span></button>
        </td>
        <td><a href="#" title=""><div class="progress">
          <div class="progress-bar progress-bar-success" style="width: 40%">
            <span class="sr-only">100% Complete (success)</span>
          </div>
          <div class="progress-bar progress-bar-danger" style="width: 60%">
            <span class="sr-only">100% Complete (success)</span>
          </div></a>
        </div></td>
        <td><div class="btn-group">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
            In Progress <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">In Progress</a></li>
            <li><a href="#">Not Started</a></li>
            <li><a href="#">Stuck</a></li>
            <li><a href="#">Done</a></li>
          </ul>
        </div></td>
      </tr>

    </tbody>
  </table>
</div>
</div>