<!-- <table width="100%" border="0">
  <tbody>
    <tr>
      <td width="66%" scope="col" align="left"> <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-info">All</button>
        <button type="button" class="btn btn-default">Not Started</button>
        <button type="button" class="btn btn-default">In Progress</button>
        <button type="button" class="btn btn-default">Stuck</button>
        <button type="button" class="btn btn-default">Done</button>
      </div></td>
      <td width="33%" scope="col" align="right">
        <form class="form-inline" role="form">
          <div class="form-group">
            <input type="search" class="form-control" placeholder="Search...">
          </div>
        </form>
      </td>
    </tr>
  </tbody>
</table>

 --><div class="row table-top-padding">
  <div class="col-lg-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Assignment</th>
          <th>Tests</th>
          <th>Progress</th>
          <th><!-- Issues --><span class="glyphicon glyphicon-comment"></span></th>
          <th><!-- Tags --><span class="glyphicon glyphicon-tags"></span></th>
        </tr>
      </thead>
      <tbody>
        <% @assignments.each do |assignment| %>
        <tr>
          <td><%= link_to assignment.name, assignment.url %></td>
          <td>[Tests]</td>
          <td><div class="btn-group">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
              In Progress <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">In Progress</a></li>
              <li><a href="#">Not Started</a></li>
              <li><a href="#">Stuck</a></li>
              <li><a href="#">Done</a></li>
            </ul>
          </div>
        </td></td>
        <td><a href="#" title="" class="issue">Some issue...</a></td>
        <td><span class="label label-default"><a href="#" title="">Rails</a></span> <span class="label label-default"><a href="#" title="">SQL</a></span> <span class="label label-default"><a href="#" title="">ORM</a></span></td>
      </tr>
      <% end %>

      
      <tr>
        <td><a href="#" title="">Halloween App Redux</a> <button type="button" class="btn btn-default btn-xs">Fork</button></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>


      <tr>
        <td><a href="#" title="">Pollywog (Big Swamp Edition)</a>
        <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-info-sign"></span></button>

        </td>
        <td><a href="#" title=""><div class="progress">
          <div class="progress-bar progress-bar-success" style="width: 100%">
            <span class="sr-only">100% Complete (success)</span>
          </div></a>
        </div></td>
        <td><div class="btn-group">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
            In Progress <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">In Progress</a></li>
            <li><a href="#">Not Started</a></li>
            <li><a href="#">Stuck</a></li>
            <li><a href="#">Done</a></li>
          </ul>
        </div></td>
        <td><a href="#" title="" class="issue">Nomethod error when trying to view...</a></td>
        <td><span class="label label-default"><a href="#" title="">Rails</a></span> <span class="label label-default"><a href="#" title="">SQL</a></span> <span class="label label-default"><a href="#" title="">ORM</a></span></td>
      </tr>


      <tr>
        <td><a href="#" title="">Assignment Name</a> <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-info-sign"></span></button></td>
        <td><a href="#" title="" class="progress-button"><div class="progress">
          <div class="progress-bar progress-bar-success" style="width: 70%">
            <span class="sr-only">70% Pending (success)</span>
          </div>
          <div class="progress-bar progress-bar-danger" style="width: 30%">
            <span class="sr-only">30% Faling (danger)</span>
          </div></a>
        </div></td>
        <td>
         <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
            In Progress <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">In Progress</a></li>
            <li><a href="#">Not Started</a></li>
            <li><a href="#">Stuck</a></li>
            <li><a href="#">Done</a></li>
          </ul>
        </div>
      </td>
      <td><a href="#" title="" class="issue">Some issue...</a></td>
      <td><span class="label label-default"><a href="#" title="">Rails</a></span> <span class="label label-default"><a href="#" title="">Lab</a></span></td>
    </tr>
    <tr>
      <td><a href="#" title="">Assignment Name</a></td>
      <td><a href="#" title="" class="progress-button"><div class="progress">
        <div class="progress-bar progress-bar-success" style="width: 5%">
          <span class="sr-only">0% Passing (success)</span>
          </div>
        <div class="progress-bar progress-bar-danger" style="width: 95%">
          <span class="sr-only">100% Failing (danger)</span>
          </div>
      </div></a></td>
      <td><div class="btn-group">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
          In Progress <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">In Progress</a></li>
          <li><a href="#">Not Started</a></li>
          <li><a href="#">Stuck</a></li>
          <li><a href="#">Done</a></li>
        </ul>
      </div>
    </td>
    <td><a href="#" title="" class="issue">Some issue...</a></td>
    <td><span class="label label-default"><a href="#" title="">Sinatra</a></span> <span class="label label-default"><a href="#" title="">Rails</a></span> <span class="label label-default"><a href="#" title="">ORM</a></span></td>
  </tr>
  <tr>
    <td><a href="#" title="">Assignment Name</a></td>
    <td><a href="#" title="" class="progress-button"><div class="progress">
      <div class="progress-bar progress-bar-success" style="width: 70%">
        <span class="sr-only">70% Pending (success)</span>
        </div>
      <div class="progress-bar progress-bar-danger" style="width: 30%">
        <span class="sr-only">30% Faling (danger)</span>
        </div>
    </div></a></td>
    <td><div class="btn-group">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
        In Progress <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">In Progress</a></li>
        <li><a href="#">Not Started</a></li>
        <li><a href="#">Stuck</a></li>
        <li><a href="#">Done</a></li>
      </ul>
    </div>
  </td></td>
  <td><a href="#" title="" class="issue">Some issue...</a></td>
  <td><span class="label label-default"><a href="#" title="">Rails</a></span> <span class="label label-default"><a href="#" title="">SQL</a></span></td>
</tr>         <tr>
<td><a href="#" title="">Assignment Name</a></td>
<td><a href="#" title="" class="progress-button"><div class="progress">
  <div class="progress-bar progress-bar-success" style="width: 0%">
    <span class="sr-only">70% Pending (success)</span>
    </div>
  <div class="progress-bar progress-bar-danger" style="width: 100%">
    <span class="sr-only">30% Faling (danger)</span>
    </div>
</div></a></td>
<td><div class="btn-group">
  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
    In Progress <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">In Progress</a></li>
    <li><a href="#">Not Started</a></li>
    <li><a href="#">Stuck</a></li>
    <li><a href="#">Done</a></li>
  </ul>
</div>
</td></td>
<td><a href="#" title="" class="issue">Some issue...</a></td>
<td><span class="label label-default"><a href="#" title="">Sinatra</a></span> <span class="label label-default"><a href="#" title="">Quiz</a></span> <span class="label label-default"><a href="#" title="">Hashes</a></span></td>
</tr>
<tr>
  <td><a href="#" title="">Assignment Name</a></td>
  <td><div class="progress">
    <div class="progress-bar progress-bar-success" style="width: 20%">
      <span class="sr-only">70% Pending (success)</span>
      </div>
    <div class="progress-bar progress-bar-danger" style="width: 80%">
      <span class="sr-only">30% Faling (danger)</span>
      </div>
  </div></td>
  <td><div class="btn-group">
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
      In Progress <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">In Progress</a></li>
      <li><a href="#">Not Started</a></li>
      <li><a href="#">Stuck</a></li>
      <li><a href="#">Done</a></li>
    </ul>
  </div>
</td></td>
<td><a href="#" title="" class="issue">Some issue...</a></td>
<td><span class="label label-default"><a href="#" title="">Homework</a></span> <span class="label label-default"><a href="#" title="">SQL</a></span> <span class="label label-default"><a href="#" title="">ORM</a></span></td>
</tr>
<tr>
  <td><a href="#" title="">Assignment Name</a></td>
  <td><div class="progress">
    <div class="progress-bar progress-bar-success" style="width: 5%">
      <span class="sr-only">0% Passing (success)</span>
      </div>
    <div class="progress-bar progress-bar-danger" style="width: 95%">
      <span class="sr-only">100% Failing (danger)</span>
      </div>
  </div></td>
  <td><div class="btn-group">
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
      In Progress <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">In Progress</a></li>
      <li><a href="#">Not Started</a></li>
      <li><a href="#">Stuck</a></li>
      <li><a href="#">Done</a></li>
    </ul>
  </div>
</td></td>
<td><a href="#" title="" class="issue">Some issue...</a></td>
<td><span class="label label-default"><a href="#" title="">Rails</a></span> <span class="label label-default"><a href="#" title="">Lab</a></span> <span class="label label-default"><a href="#" title="">ORM</a></span></td>
</tr>
<tr>
  <td><a href="#" title="">Assignment Name</a></td>
  <td><div class="progress">
    <div class="progress-bar progress-bar-success" style="width: 70%">
      <span class="sr-only">70% Pending (success)</span>
      </div>
    <div class="progress-bar progress-bar-danger" style="width: 30%">
      <span class="sr-only">30% Faling (danger)</span>
      </div>
  </div></td>
  <td><div class="btn-group">
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
      In Progress <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">In Progress</a></li>
      <li><a href="#">Not Started</a></li>
      <li><a href="#">Stuck</a></li>
      <li><a href="#">Done</a></li>
    </ul>
  </div>
</td></td>
<td><a href="#" title="" class="issue">Some issue...</a></td>
<td><span class="label label-default"><a href="#" title="">Rails</a></span> <span class="label label-default"><a href="#" title="">SQL</a></span> <span class="label label-default"><a href="#" title="">ORM</a></span></td>
</tr>         <tr>
<td><a href="#" title="">Assignment Name</a></td>
<td><div class="progress">
  <div class="progress-bar progress-bar-success" style="width: 0%">
    <span class="sr-only">70% Pending (success)</span>
    </div>
  <div class="progress-bar progress-bar-danger" style="width: 100%">
    <span class="sr-only">30% Faling (danger)</span>
    </div>
</div></td>
<td><div class="btn-group">
  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
    In Progress <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">In Progress</a></li>
    <li><a href="#">Not Started</a></li>
    <li><a href="#">Stuck</a></li>
    <li><a href="#">Done</a></li>
  </ul>
</div>
</td></td>
<td><a href="#" title="" class="issue">Some issue...</a></td>
<td><span class="label label-default"><a href="#" title="">Rails</a></span> <span class="label label-default"><a href="#" title="">SQL</a></span> <span class="label label-default"><a href="#" title="">ORM</a></span></td>
</tr>
<tr>
  <td><a href="#" title="">Assignment Name</a></td>
  <td><div class="progress">
    <div class="progress-bar progress-bar-success" style="width: 20%">
      <span class="sr-only">70% Pending (success)</span>
      </div>
    <div class="progress-bar progress-bar-danger" style="width: 80%">
      <span class="sr-only">30% Faling (danger)</span>
      </div>
  </div></td>
  <td><div class="btn-group">
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
      In Progress <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">In Progress</a></li>
      <li><a href="#">Not Started</a></li>
      <li><a href="#">Stuck</a></li>
      <li><a href="#">Done</a></li>
    </ul>
  </div>
</td></td>
<td><a href="#" title="" class="issue">Some issue...</a></td>
<td><span class="label label-default"><a href="#" title="">Rails</a></span> <span class="label label-default"><a href="#" title="">SQL</a></span> <span class="label label-default"><a href="#" title="">ORM</a></span></td>
</tr>
<tr>
  <td><a href="#" title="">Assignment Name</a></td>
  <td><div class="progress">
    <div class="progress-bar progress-bar-success" style="width: 5%">
      <span class="sr-only">0% Passing (success)</span>
      </div>
    <div class="progress-bar progress-bar-danger" style="width: 95%">
      <span class="sr-only">100% Failing (danger)</span>
      </div>
  </div></td>
  <td><div class="btn-group">
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
      In Progress <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">In Progress</a></li>
      <li><a href="#">Not Started</a></li>
      <li><a href="#">Stuck</a></li>
      <li><a href="#">Done</a></li>
    </ul>
  </div>
</td></td>
<td><a href="#" title="" class="issue">Some issue...</a></td>
<td><span class="label label-default"><a href="#" title="">Rails</a></span> <span class="label label-default"><a href="#" title="">SQL</a></span> <span class="label label-default"><a href="#" title="">ORM</a></span></td>
</tr>
<tr>
  <td><a href="#" title="">Assignment Name</a></td>
  <td><div class="progress">
    <div class="progress-bar progress-bar-success" style="width: 70%">
      <span class="sr-only">70% Pending (success)</span>
      </div>
    <div class="progress-bar progress-bar-danger" style="width: 30%">
      <span class="sr-only">30% Faling (danger)</span>
      </div>
  </div></td>
  <td><div class="btn-group">
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
      In Progress <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">In Progress</a></li>
      <li><a href="#">Not Started</a></li>
      <li><a href="#">Stuck</a></li>
      <li><a href="#">Done</a></li>
    </ul>
  </div>
</td></td>
<td><a href="#" title="" class="issue">Some issue...</a></td>
<td><span class="label label-default"><a href="#" title="">Rails</a></span> <span class="label label-default"><a href="#" title="">SQL</a></span> <span class="label label-default"><a href="#" title="">ORM</a></span></td>
</tr>         <tr>
<td><a href="#" title="">Assignment Name</a></td>
<td><div class="progress">
  <div class="progress-bar progress-bar-success" style="width: 0%">
    <span class="sr-only">70% Pending (success)</span>
    </div>
  <div class="progress-bar progress-bar-danger" style="width: 100%">
    <span class="sr-only">30% Faling (danger)</span>
    </div>
</div></td>
<td><div class="btn-group">
  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
    In Progress <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">In Progress</a></li>
    <li><a href="#">Not Started</a></li>
    <li><a href="#">Stuck</a></li>
    <li><a href="#">Done</a></li>
  </ul>
</div>
</td></td>
<td><a href="#" title="" class="issue">Some issue...</a></td>
<td><span class="label label-default"><a href="#" title="">Rails</a></span> <span class="label label-default"><a href="#" title="">SQL</a></span> <span class="label label-default"><a href="#" title="">ORM</a></span></td>
</tr>
<tr>
  <td><a href="#" title="">Assignment Name</a></td>
  <td><div class="progress">
    <div class="progress-bar progress-bar-success" style="width: 20%">
      <span class="sr-only">70% Pending (success)</span>
      </div>
    <div class="progress-bar progress-bar-danger" style="width: 80%">
      <span class="sr-only">30% Faling (danger)</span>
      </div>
  </div></td>
  <td><div class="btn-group">
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
      In Progress <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">In Progress</a></li>
      <li><a href="#">Not Started</a></li>
      <li><a href="#">Stuck</a></li>
      <li><a href="#">Done</a></li>
    </ul>
  </div>
</td></td>
<td><a href="#" title="" class="issue">Some issue...</a></td>
<td><span class="label label-default"><a href="#" title="">Rails</a></span> <span class="label label-default"><a href="#" title="">SQL</a></span> <span class="label label-default"><a href="#" title="">ORM</a></span></td>
</tr>
<tr>
  <td><a href="#" title="">Assignment Name</a></td>
  <td><div class="progress">
    <div class="progress-bar progress-bar-success" style="width: 5%">
      <span class="sr-only">0% Passing (success)</span>
      </div>
    <div class="progress-bar progress-bar-danger" style="width: 95%">
      <span class="sr-only">100% Failing (danger)</span>
      </div>
  </div></td>
  <td><div class="btn-group">
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
      In Progress <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">In Progress</a></li>
      <li><a href="#">Not Started</a></li>
      <li><a href="#">Stuck</a></li>
      <li><a href="#">Done</a></li>
    </ul>
  </div>
</td></td>
<td><a href="#" title="" class="issue">Some issue...</a></td>
<td><span class="label label-default"><a href="#" title="">Rails</a></span> <span class="label label-default"><a href="#" title="">SQL</a></span> <span class="label label-default"><a href="#" title="">ORM</a></span></td>
</tr>
<tr>
  <td><a href="#" title="">Assignment Name</a></td>
  <td><div class="progress">
    <div class="progress-bar progress-bar-success" style="width: 70%">
      <span class="sr-only">70% Pending (success)</span>
      </div>
    <div class="progress-bar progress-bar-danger" style="width: 30%">
      <span class="sr-only">30% Faling (danger)</span>
      </div>
  </div></td>
  <td><div class="btn-group">
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
      In Progress <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">In Progress</a></li>
      <li><a href="#">Not Started</a></li>
      <li><a href="#">Stuck</a></li>
      <li><a href="#">Done</a></li>
    </ul>
  </div>
</td></td>
<td><a href="#" title="" class="issue">Some issue...</a></td>
<td><span class="label label-default"><a href="#" title="">Rails</a></span> <span class="label label-default"><a href="#" title="">SQL</a></span> <span class="label label-default"><a href="#" title="">ORM</a></span></td>
</tr>         <tr>
<td><a href="#" title="">Assignment Name</a></td>
<td><div class="progress">
  <div class="progress-bar progress-bar-success" style="width: 0%">
    <span class="sr-only">70% Pending (success)</span>
    </div>
  <div class="progress-bar progress-bar-danger" style="width: 100%">
    <span class="sr-only">30% Faling (danger)</span>
    </div>
</div></td>
<td><div class="btn-group">
  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
    In Progress <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">In Progress</a></li>
    <li><a href="#">Not Started</a></li>
    <li><a href="#">Stuck</a></li>
    <li><a href="#">Done</a></li>
  </ul>
</div>
</td></td>
<td><a href="#" title="" class="issue">Some issue...</a></td>
<td><span class="label label-default"><a href="#" title="">Rails</a></span> <span class="label label-default"><a href="#" title="">SQL</a></span> <span class="label label-default"><a href="#" title="">ORM</a></span></td>
</tr>
<tr>
  <td><a href="#" title="">Assignment Name</a></td>
  <td><div class="progress">
    <div class="progress-bar progress-bar-success" style="width: 20%">
      <span class="sr-only">70% Pending (success)</span>
      </div>
    <div class="progress-bar progress-bar-danger" style="width: 80%">
      <span class="sr-only">30% Faling (danger)</span>
      </div>
  </div></td>
  <td><div class="btn-group">
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
      In Progress <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">In Progress</a></li>
      <li><a href="#">Not Started</a></li>
      <li><a href="#">Stuck</a></li>
      <li><a href="#">Done</a></li>
    </ul>
  </div>
</td></td>
<td><a href="#" title="" class="issue">Some issue...</a></td>
<td><span class="label label-default"><a href="#" title="">Rails</a></span> <span class="label label-default"><a href="#" title="">SQL</a></span> <span class="label label-default"><a href="#" title="">ORM</a></span></td>
</tr>
<tr>
  <td><a href="#" title="">Assignment Name</a></td>
  <td><div class="progress">
    <div class="progress-bar progress-bar-success" style="width: 5%">
      <span class="sr-only">0% Passing (success)</span>
      </div>
    <div class="progress-bar progress-bar-danger" style="width: 95%">
      <span class="sr-only">100% Failing (danger)</span>
      </div>
  </div></td>
  <td><div class="btn-group">
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
      In Progress <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">In Progress</a></li>
      <li><a href="#">Not Started</a></li>
      <li><a href="#">Stuck</a></li>
      <li><a href="#">Done</a></li>
    </ul>
  </div>
</td></td>
<td><a href="#" title="" class="issue">Some issue...</a></td>
<td><span class="label label-default"><a href="#" title="">Rails</a></span> <span class="label label-default"><a href="#" title="">SQL</a></span> <span class="label label-default"><a href="#" title="">ORM</a></span></td>
</tr>
<tr>
  <td><a href="#" title="">Assignment Name</a></td>
  <td><div class="progress">
    <div class="progress-bar progress-bar-success" style="width: 70%">
      <span class="sr-only">70% Pending (success)</span>
      </div>
    <div class="progress-bar progress-bar-danger" style="width: 30%">
      <span class="sr-only">30% Faling (danger)</span>
      </div>
  </div></td>
  <td><div class="btn-group">
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
      In Progress <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">In Progress</a></li>
      <li><a href="#">Not Started</a></li>
      <li><a href="#">Stuck</a></li>
      <li><a href="#">Done</a></li>
    </ul>
  </div>
</td></td>
<td><a href="#" title="" class="issue">Some issue...</a></td>
<td><span class="label label-default"><a href="#" title="">Rails</a></span> <span class="label label-default"><a href="#" title="">SQL</a></span> <span class="label label-default"><a href="#" title="">ORM</a></span></td>
</tr>         <tr>
<td><a href="#" title="">Assignment Name</a></td>
<td><div class="progress">
  <div class="progress-bar progress-bar-success" style="width: 0%">
    <span class="sr-only">70% Pending (success)</span>
    </div>
  <div class="progress-bar progress-bar-danger" style="width: 100%">
    <span class="sr-only">30% Faling (danger)</span>
    </div>
</div></td>
<td><div class="btn-group">
  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
    In Progress <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">In Progress</a></li>
    <li><a href="#">Not Started</a></li>
    <li><a href="#">Stuck</a></li>
    <li><a href="#">Done</a></li>
  </ul>
</div>
</td></td>
<td><a href="#" title="" class="issue">Some issue...</a></td>
<td><span class="label label-default"><a href="#" title="">Rails</a></span> <span class="label label-default"><a href="#" title="">SQL</a></span> <span class="label label-default"><a href="#" title="">ORM</a></span></td>
</tr>
<tr>
  <td><a href="#" title="">Assignment Name</a></td>
  <td><div class="progress">
    <div class="progress-bar progress-bar-success" style="width: 20%">
      <span class="sr-only">70% Pending (success)</span>
      </div>
    <div class="progress-bar progress-bar-danger" style="width: 80%">
      <span class="sr-only">30% Faling (danger)</span>
      </div>
  </div></td>
  <td><div class="btn-group">
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
      In Progress <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">In Progress</a></li>
      <li><a href="#">Not Started</a></li>
      <li><a href="#">Stuck</a></li>
      <li><a href="#">Done</a></li>
    </ul>
  </div>
</td></td>
<td><a href="#" title="" class="issue">Some issue...</a></td>
<td><span class="label label-default"><a href="#" title="">Rails</a></span> <span class="label label-default"><a href="#" title="">SQL</a></span> <span class="label label-default"><a href="#" title="">ORM</a></span></td>
</tr>
<tr>
  <td><a href="#" title="">Assignment Name</a></td>
  <td><div class="progress">
    <div class="progress-bar progress-bar-success" style="width: 5%">
      <span class="sr-only">0% Passing (success)</span>
      </div>
    <div class="progress-bar progress-bar-danger" style="width: 95%">
      <span class="sr-only">100% Failing (danger)</span>
      </div>
  </div></td>
  <td><div class="btn-group">
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
      In Progress <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">In Progress</a></li>
      <li><a href="#">Not Started</a></li>
      <li><a href="#">Stuck</a></li>
      <li><a href="#">Done</a></li>
    </ul>
  </div>
</td></td>
<td><a href="#" title="" class="issue">Some issue...</a></td>
<td><span class="label label-default"><a href="#" title="">Rails</a></span> <span class="label label-default"><a href="#" title="">SQL</a></span> <span class="label label-default"><a href="#" title="">ORM</a></span></td>
</tr>
<tr>
  <td><a href="#" title="">Assignment Name</a></td>
  <td><div class="progress">
    <div class="progress-bar progress-bar-success" style="width: 70%">
      <span class="sr-only">70% Pending (success)</span>
      </div>
    <div class="progress-bar progress-bar-danger" style="width: 30%">
      <span class="sr-only">30% Faling (danger)</span>
      </div>
  </div></td>
  <td><div class="btn-group">
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
      In Progress <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">In Progress</a></li>
      <li><a href="#">Not Started</a></li>
      <li><a href="#">Stuck</a></li>
      <li><a href="#">Done</a></li>
    </ul>
  </div>
</td></td>
<td><a href="#" title="" class="issue">Some issue...</a></td>
<td><span class="label label-default"><a href="#" title="">Rails</a></span> <span class="label label-default"><a href="#" title="">SQL</a></span> <span class="label label-default"><a href="#" title="">ORM</a></span></td>
</tr>         <tr>
<td><a href="#" title="">Assignment Name</a></td>
<td><div class="progress">
  <div class="progress-bar progress-bar-success" style="width: 0%">
    <span class="sr-only">70% Pending (success)</span>
    </div>
  <div class="progress-bar progress-bar-danger" style="width: 100%">
    <span class="sr-only">30% Faling (danger)</span>
    </div>
</div></td>
<td><div class="btn-group">
  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
    In Progress <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">In Progress</a></li>
    <li><a href="#">Not Started</a></li>
    <li><a href="#">Stuck</a></li>
    <li><a href="#">Done</a></li>
  </ul>
</div>
</td></td>
<td><a href="#" title="" class="issue">Some issue...</a></td>
<td><span class="label label-default"><a href="#" title="">Rails</a></span> <span class="label label-default"><a href="#" title="">SQL</a></span> <span class="label label-default"><a href="#" title="">ORM</a></span></td>
</tr>
<tr>
  <td><a href="#" title="">Assignment Name</a></td>
  <td><div class="progress">
    <div class="progress-bar progress-bar-success" style="width: 20%">
      <span class="sr-only">70% Pending (success)</span>
      </div>
    <div class="progress-bar progress-bar-danger" style="width: 80%">
      <span class="sr-only">30% Faling (danger)</span>
      </div>
  </div></td>
  <td><select class="form-control">
    <option selected>Not Started</option>
    <option>In Progress</option>
    <option>Stuck</option>
    <option>Done</option>
  </select>
</td></td>
<td><a href="#" title="" class="issue">Some issue...</a></td>
<td><span class="label label-default"><a href="#" title="">Rails</a></span> <span class="label label-default"><a href="#" title="">SQL</a></span> <span class="label label-default"><a href="#" title="">ORM</a></span></td>
</tr>
</tbody>
</table>
</div>
</div>