<div class="row">
  <div class="col-lg-12">
    <div class="time-line">
      <div class="plan-4-day">
        <h2>Day 21:</h2> <p>9-9:30: Do stuff&nbsp;&nbsp;&nbsp;&nbsp; 9:30-10: Todo: Cat vs Bread?&nbsp;&nbsp;&nbsp;&nbsp; 10ish: Guest Speaker&nbsp;&nbsp;&nbsp;&nbsp; Lunch&nbsp;&nbsp;&nbsp;&nbsp; Lab: Spell Checker</p>
      </div>

      <div class="course-timeline">
        <div class="progress">
          <div class="progress-bar" style="width: 64%">
            <span>Day 36</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- <div class="progress-bar progress-bar-warning" style="width: 20%">
    <span class="sr-only">20% Complete (warning)</span>
  </div>
  <div class="progress-bar progress-bar-danger" style="width: 10%">
    <span class="sr-only">10% Complete (danger)</span>
  </div> -->
</div>
</div>
</div>
</div>
<div class="row table-top-padding">
  <div class="col-lg-12">
    <table class="table table-striped assignments-list">
      <thead>
        <tr>
          <th width="150">Assignment</th>
          <th width="130">Progress</th>
          <th width="234"><!-- Issues --><span class="glyphicon glyphicon-comment"></span></th>
        </tr>
      </thead>
      <tbody>
        <% @student.assignments.each do |assignment| %>
        <tr>
          <td width="150"><h2><%= link_to assignment.name, assignment.web_url %></h2>
            <ul class="meta-info">
              <li><a href="#" title=""><img class="gravatar" src="<%# @student.gravatar_url %>" alt=""> Scott</a></li>
              <li><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003/blob/master/README.md" title="">README.md</a>
              </li><li><span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">ORM</a></span> <span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">ActiveRecord</a></span>
            </li>
          </ul>

        </td>
        <td>
          <span class="status">Not Started &raquo;</span> <a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003/fork" class="btn btn-default btn-sm" role="button">Fork</a>
         <!--  <div class="progress">
          <div class="progress-bar progress-bar-success" style="width: 30%">
            <span>5 Passing</span>
            </div>
            <div class="progress-bar progress-bar-warning" style="width: 30%">
              <span>5</span>
            </div>
          <div class="progress-bar progress-bar-danger" style="width: 40%">
            <span>4</span>
          </div> -->
        </td>
        <td class="issues"><p>No issues to show. <a href="#" class="btn btn-default btn-xs" role="button">New Issue</a></p>
          <!-- <ul class="meta-info">
            <li>Latest commit: <a href="#" title="">update gitignore</a></li>
            <li>Issue: <a href="https://github.com/flatiron-school/pollywog-ranch-associations-ruby-003/issues" title="">Bug in the Tadpole Show View</a>
              </li><li><a href="#" title="">New Issue</a>
                </li>
            </ul>
          -->

        </td>
      </tr>
      <% end %>     
      <tr>
        <td width="150">
          <h2><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003" title="">TV Land</a></h2>
          <ul class="meta-info">
            <li><a href="#" title=""><img src="https://1.gravatar.com/avatar/a4a5d413f1bd759eedfba1098629a06d?d=https%3A%2F%2Fidenticons.github.com%2F92761aee6b19133c8240c751569cafb5.png&r=x&s=140" alt="" height="20"> Scott</a></li>
            <li><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003/blob/master/README.md" title="">README.md</a>
            </li><li><span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">ORM</a></span> <span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">ActiveRecord</a></span>
          </li>
        </ul>
      </td>
      <td style="vertical-align:middle;"><span class="status">Not Started &raquo;</span> <a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003/fork" class="btn btn-default btn-sm" role="button">Fork</a></td>
      <td style="vertical-align:middle;">
        <div class="editable_area" id="github_issue_id">GitHub Issues (None posted. <a href="#" title="">Click to Add</a>)</div></td>
      </tr>
      <tr>
        <td width="150">
          <h2><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003" title="">RSVP App</a></h2>
          <ul class="meta-info">
            <li><a href="#" title=""><img src="/assets/spencer-icon.png" alt="" height="20"> Spencer</a></li>
            <li><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003/blob/master/README.md" title="">README.md</a>
            </li><li><span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">Rails</a></span> <span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">Join Tables</a></span>
          </li>
        </ul>
      </td>
      <td  style="vertical-align:middle;"><a href="#" title=""><div class="progress">
        <div class="progress-bar progress-bar-success" style="width: 0%">
          <span class="sr-only">100% Complete (success)</span>
        </div>
        <div class="progress-bar progress-bar-danger" style="width: 100%">
          <span class="sr-only">100% Complete (success)</span>
        </div></a></td>
        <td style="vertical-align:middle;">
          <div class="editable_area" id="github_issue_id">GitHub Issues (None posted. Click to Add)</div></td>
        </tr>
        <tr>
          <td width="150">
            <h2><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003" title="">RSVP App</a></h2>
            <ul class="meta-info">
              <li><a href="#" title=""><img src="/assets/spencer-icon.png" alt="" height="20"> Spencer</a></li>
              <li><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003/blob/master/README.md" title="">README.md</a>
              </li><li><span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">Rails</a></span> <span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">Join Tables</a></span>
            </li>
          </ul>
        </td>
        <td><a href="#" title=""><div class="progress">
          <div class="progress-bar progress-bar-success" style="width: 40%">
            <span class="sr-only">100% Complete (success)</span>
          </div>
          <div class="progress-bar progress-bar-danger" style="width: 60%">
            <span class="sr-only">100% Complete (success)</span>
          </div></a></td>
          <td style="vertical-align:middle;">
            <div class="editable_area item-posted" id="github_issue_id"><a href="#" title=""><img src="/assets/spencer-icon.png" alt="" height="20"> </a> <a href="#" title="">Try replacing your IF block with a switch&hellip;</a></div></td>
          </tr>

          <tr>
            <td width="150">
              <h2><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003" title="">Pollywog Ranch</a></h2>
              <ul class="meta-info">
                <li><a href="#" title=""><img src="https://1.gravatar.com/avatar/a4a5d413f1bd759eedfba1098629a06d?d=https%3A%2F%2Fidenticons.github.com%2F92761aee6b19133c8240c751569cafb5.png&r=x&s=140" alt="" height="20"> Scott</a></li>
                <li><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003/blob/master/README.md" title="">README.md</a>
                </li><li><span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">Sinatra</a></span> <span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">Sequel</a></span>
              </li>
            </ul>
          </td>
          <td><a href="#" title=""><div class="progress">
            <div class="progress-bar progress-bar-success" style="width: 100%">
              <span class="sr-only">100% Complete (success)</span>
            </div>
          </div></a></td>
          <td style="vertical-align:middle;">
            <div class="editable_area" id="github_issue_id">GitHub Issues (None posted. Click to Add)</div></td>
          </tr>

          <tr>
            <td width="150">
              <h2><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003" title="">Assignment title</a></h2>
              <ul class="meta-info">
                <li><a href="#" title=""><img src="/assets/spencer-icon.png" alt="" height="20"> Spencer</a></li>
                <li><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003/blob/master/README.md" title="">README.md</a>
                </li><li><span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">Tag1</a></span> <span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">Tag2</a></span> <span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">Tag3</a></span>
              </li>
            </ul>
          </td>
          <td><a href="#" title=""><div class="progress">
            <div class="progress-bar progress-bar-success" style="width: 20%">
              <span class="sr-only">100% Complete (success)</span>
            </div>
            <div class="progress-bar progress-bar-danger" style="width: 80%">
              <span class="sr-only">100% Complete (success)</span>
            </div></a></td>
            <td>
              <div class="editable_area" id="github_issue_id">GitHub Issues (None posted. Click to Add)</div></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>