<%# session[:access_token] %>
<%# "Loaded at #{@time}" %>
<!-- <h4>Sub-nav</h4>
<dl class="sub-nav">
          <dt>Filter:</dt>
          <dd class="active"><a href="#">All</a></dd>
          <dd><a href="#">Not Started</a></dd>
          <dd><a href="#">In Progress</a></dd>
          <dd><a href="#">Suspended</a></dd>
        </dl> -->
<table>
  <thead>
    <tr>
      <th>Assignments</th><th>My Work</th>
    </tr>
  </thead>
  <tbody>
   <tr><td><a href="#">Tic Tac Toe Sinatra</a></td><td><a href="#">GitHub</a></td></tr>
   <tr><td><a href="#">Wookwoddle Rails Challenge</a></td><td><a href="#">GitHub</a></td></tr>
  <tr><td><a href="#">Alien Sandwich Sinatra (LAB)</a></td><td><a href="#">GitHub</a></td></tr>
  <tr><td><a href="#">Towers of Hanoi ORB (Todo)</a></td><td><a href="#">GitHub</a></td></tr>
  <tr><td><a href="#">Recursive Recursorial</a></td><td><a href="#">GitHub</a></td></tr>
  <tr><td><a href="#">ABC Acme Systems Unlimited (Homework)</a></td><td><a href="#">GitHub</a></td></tr>
  <tr><td><a href="#">Repo Name</a></td><td><a href="#">GitHub</a></td></tr>
  <tr><td><a href="#">Repo Name</a></td><td><a href="#">GitHub</a></td></tr>
  <tr><td><a href="#">Repo Name</a></td><td><a href="#">GitHub</a></td></tr>
    <tr><td><a href="#">Repo Name</a></td><td><a href="#">GitHub</a></td></tr>
  <tr><td><a href="#">Repo Name</a></td><td><a href="#">GitHub</a></td></tr>
  <tr><td><a href="#">Repo Name</a></td><td><a href="#">GitHub</a></td></tr>
    <tr><td><a href="#">Repo Name</a></td><td><a href="#">GitHub</a></td></tr>
  <tr><td><a href="#">Repo Name</a></td><td><a href="#">GitHub</a></td></tr>
  <tr><td><a href="#">Repo Name</a></td><td><a href="#">GitHub</a></td></tr>
    <tr><td><a href="#">Repo Name</a></td><td><a href="#">GitHub</a></td></tr>
  <tr><td><a href="#">Repo Name</a></td><td><a href="#">GitHub</a></td></tr>
  <tr><td><a href="#">Repo Name</a></td><td><a href="#">GitHub</a></td></tr>
  
<!--   <%# @assignments.each do |assignment| %>
    <tr>
      <td><a href="https://github.com/<%# assignment.full_name %>"><%# assignment.name %></a></td>
    </tr>
  <%# end %> -->
  </tbody>
</table>
