<div class="row table-top-padding">
  <div class="col-lg-12">
    <table class="table table-striped assignments-list">
      <thead>
        <tr>
          <th width="150">Assignment</th>
          <th width="130">Progress</th>
          <th width="234"><!-- Issues --><span class="glyphicon glyphicon-comment"></span></th>
        </tr>
      </thead>
      <tbody>
        <% @assignments.each do |assignment| %>
        <tr>
          <td width="150"><%= link_to assignment.name, assignment.url %></td>
          <td>[Tests]</td>
          <td><a href="#" title="" class="issue">Some issue...</a></td>
      </tr>
      <% end %>     
      <!-- <tr>
        <td width="150">
          <h2><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003" title="">TV Land</a></h2>
          <ul class="meta-info">
            <li><a href="#" title=""><img src="https://1.gravatar.com/avatar/a4a5d413f1bd759eedfba1098629a06d?d=https%3A%2F%2Fidenticons.github.com%2F92761aee6b19133c8240c751569cafb5.png&r=x&s=140" alt="" height="20"> Scott</a></li>
            <li><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003/blob/master/README.md" title="">README.md</a>
              </li><li><span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">ORM</a></span> <span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">ActiveRecord</a></span>
                </li>
            </ul>
        </td>
        <td style="vertical-align:middle;"><span class="status">Not Started &raquo;</span> <a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003/fork" class="btn btn-default btn-sm" role="button">Fork</a></td>
      <td style="vertical-align:middle;">
        <div class="editable_area" id="github_issue_id">GitHub Issues (None posted. Click to Add)</div></td>
      </tr>
      <tr>
        <td width="150">
          <h2><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003" title="">RSVP App</a></h2>
          <ul class="meta-info">
            <li><a href="#" title=""><img src="/assets/spencer-icon.png" alt="" height="20"> Spencer</a></li>
            <li><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003/blob/master/README.md" title="">README.md</a>
              </li><li><span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">Rails</a></span> <span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">Join Tables</a></span>
                </li>
            </ul>
        </td>
      <td  style="vertical-align:middle;"><a href="#" title=""><div class="progress">
          <div class="progress-bar progress-bar-success" style="width: 0%">
            <span class="sr-only">100% Complete (success)</span>
            </div>
          <div class="progress-bar progress-bar-danger" style="width: 100%">
            <span class="sr-only">100% Complete (success)</span>
            </div></a></td>
      <td style="vertical-align:middle;">
        <div class="editable_area" id="github_issue_id">GitHub Issues (None posted. Click to Add)</div></td>
      </tr>
      <tr>
        <td width="150">
          <h2><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003" title="">RSVP App</a></h2>
          <ul class="meta-info">
            <li><a href="#" title=""><img src="/assets/spencer-icon.png" alt="" height="20"> Spencer</a></li>
            <li><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003/blob/master/README.md" title="">README.md</a>
              </li><li><span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">Rails</a></span> <span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">Join Tables</a></span>
                </li>
            </ul>
        </td>
      <td><a href="#" title=""><div class="progress">
          <div class="progress-bar progress-bar-success" style="width: 40%">
            <span class="sr-only">100% Complete (success)</span>
            </div>
          <div class="progress-bar progress-bar-danger" style="width: 60%">
            <span class="sr-only">100% Complete (success)</span>
            </div></a></td>
      <td style="vertical-align:middle;">
        <div class="editable_area item-posted" id="github_issue_id"><a href="#" title=""><img src="/assets/spencer-icon.png" alt="" height="20"> </a> <a href="#" title="">Try replacing your IF block with a switch&hellip;</a></div></td>
      </tr>

      <tr>
        <td width="150">
          <h2><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003" title="">Pollywog Ranch</a></h2>
          <ul class="meta-info">
            <li><a href="#" title=""><img src="https://1.gravatar.com/avatar/a4a5d413f1bd759eedfba1098629a06d?d=https%3A%2F%2Fidenticons.github.com%2F92761aee6b19133c8240c751569cafb5.png&r=x&s=140" alt="" height="20"> Scott</a></li>
            <li><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003/blob/master/README.md" title="">README.md</a>
              </li><li><span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">Sinatra</a></span> <span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">Sequel</a></span>
                </li>
            </ul>
        </td>
      <td><a href="#" title=""><div class="progress">
          <div class="progress-bar progress-bar-success" style="width: 100%">
            <span class="sr-only">100% Complete (success)</span>
            </div>
            </div></a></td>
      <td style="vertical-align:middle;">
        <div class="editable_area" id="github_issue_id">GitHub Issues (None posted. Click to Add)</div></td>
      </tr>

        <tr>
        <td width="150">
          <h2><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003" title="">Assignment title</a></h2>
          <ul class="meta-info">
            <li><a href="#" title=""><img src="/assets/spencer-icon.png" alt="" height="20"> Spencer</a></li>
            <li><a href="https://github.com/flatiron-school/flatiron-kitchen-ruby-003/blob/master/README.md" title="">README.md</a>
              </li><li><span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">Tag1</a></span> <span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">Tag2</a></span> <span class="label label-default"><span class="glyphicon glyphicon-tag"></span>&nbsp;<a href="#" title="">Tag3</a></span>
                </li>
            </ul>
        </td>
      <td><a href="#" title=""><div class="progress">
          <div class="progress-bar progress-bar-success" style="width: 20%">
            <span class="sr-only">100% Complete (success)</span>
            </div>
          <div class="progress-bar progress-bar-danger" style="width: 80%">
            <span class="sr-only">100% Complete (success)</span>
            </div></a></td>
      <td>
        <div class="editable_area" id="github_issue_id">GitHub Issues (None posted. Click to Add)</div></td>
      </tr> -->

    </tbody>
  </table>
</div>
</div>