<!DOCTYPE html>
<html>
<head>
  <title>My Assignments</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
  <div class="container">
  <a class="brand">Homeworker</a>
<!--   <ul class="nav">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Link</a></li>
  <li><a href="#">Another LInk</a></li> -->
  </ul><ul class="nav pull-right"><li><a href="#">Ian Miller</a></li><li><a href="#">Sign Out</a></li>
  </ul>
  </div>
  </div>
  </div>

  <div class="container">
    <div class="content">  
      <%= yield %>
    </div>
  </div><!-- /.container -->
</body>
</html>
